<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqian.repetition.mapper.AccountMapper">

    <select id="findByUserIdAs" parameterType="com.lqian.repetition.entity.AccountDO" resultType="java.lang.Integer">
      select count(0) from account where user_id =#{userId}
    </select>
</mapper>