<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" verbose="true" monitorInterval="60">
    <Properties>
        <Property name="log-path">/data/logs/readwrite</Property>
        <Property name="archive">${log-path}/archive</Property>
        <Property name="appname">LQiqn-springboot-readwrite</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%t] %C{1.}:%L - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile-Appender"
                     fileName="${log-path}/${appname}.log"
                     filePattern="${archive}/${appname}-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%t] %C{1.}:%L - %msg%n"/>
            <Policies>
                <!-- 每天生成一个日志文件 -->
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.apache" level="WARN"/>
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="com.dianping.cat" level="INFO"/>
        <logger name="org.mybatis" level="DEBUG"></logger>

        <Root level="DEBUG">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>