<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjs.apollo.mapper.thor.CompanyMapper">
    <select id="findById" resultType="com.fjs.apollo.entity.thor.Company">
        SELECT
          id,
          name,
          status,
          is_deleted
        FROM
          saas_mbr_company company
        WHERE
          company.id = #{id}
    </select>
</mapper>