<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjs.apollo.mapper.thor.SmsCodeMapper">
    <select id="getSmsCode" resultType="com.fjs.apollo.entity.thor.SmsCode">
        SELECT
          id,
          ip,
          mobile,
          sms_code,
          create_time,
          type,
          status
        FROM
          saas_mbr_smscode
        WHERE
          mobile = #{mobile} AND
          sms_code = #{sms_code} AND
          type = 5
        ORDER BY
          create_time DESC
        LIMIT 1
    </select>

    <update id="updateStatus">
        UPDATE
          saas_mbr_smscode
        SET
          status = 2
        WHERE
          id = #{id}
    </update>
</mapper>