<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjs.apollo.mapper.thor.UserMapper">


    <select id="getAgentUser" resultType="com.fjs.apollo.entity.thor.AgentUser">
        SELECT
          *
        FROM
          saas_mbr_agent_user agentUser
        WHERE
          agentUser.mbr_user_id = #{id}
    </select>

    <resultMap type="com.fjs.apollo.entity.thor.AgentUser" id="AgentUserMap">
        <id property="id" column="id" />
        <result property="auth_type" column="auth_type" />
        <result property="mbr_user_id" column="mbr_user_id" />
        <result property="scale" column="scale" />
        <result property="level" column="level" />
        <result property="employ_status" column="employ_status" />
        <result property="address" column="address" />
        <result property="email" column="email" />
        <result property="company_id" column="company_id" />
        <result property="sub_company_id" column="sub_company_id" />
        <result property="department_id" column="department_id" />
        <result property="tq_uin" column="tq_uin" />
        <result property="tq_uin_pwd" column="tq_uin_pwd" />
        <result property="entry_time" column="entry_time" />
        <result property="leave_time" column="leave_time" />
        <result property="idcard" column="idcard" />
        <association property="baseUser" column="mbr_user_id" javaType="com.fjs.apollo.entity.thor.BaseUser">
            <id property="id" column="id" />
            <result property="user_type" column="user_type" />
            <result property="user_id" column="user_id" />
            <result property="telephone" column="telephone" />
            <result property="name" column="name" />
            <result property="sex" column="sex" />
            <result property="residence" column="residence" />
            <result property="nick_name" column="nick_name" />
            <result property="portrait" column="portrait" />
            <result property="password" column="password" />
            <result property="gesture_password" column="gesture_password" />
            <result property="password_mode" column="password_mode" />
            <result property="hash_key" column="hash_key" />
            <result property="qq_open_id" column="qq_open_id" />
            <result property="open_id" column="open_id" />
            <result property="status" column="status" />
            <result property="im_user_id" column="im_user_id" />
            <result property="im_user_password" column="im_user_password" />
            <result property="last_login_time" column="last_login_time" />
        </association>
    </resultMap>

    <!--可重用的SQL代码段-->
    <sql id="userColumnId">
        agent.id,
        agent.auth_type,
        agent.mbr_user_id,
        agent.scale,
        agent.level,
        agent.employ_status,
        agent.address,
        agent.email,
        agent.company_id,
        agent.sub_company_id,
        agent.department_id,
        agent.tq_uin,
        agent.tq_uin_pwd,
        agent.entry_time,
        agent.leave_time,
        agent.idcard,
        base.id,
        base.user_type,
        base.user_id,
        base.telephone,
        base.name,
        base.sex,
        base.residence,
        base.nick_name,
        base.portrait,
        base.password,
        base.gesture_password,
        base.password_mode,
        base.hash_key,
        base.qq_open_id,
        base.open_id,
        base.status,
        base.im_user_id,
        base.im_user_password,
        base.last_login_time
    </sql>

    <select id="findByOpen_id" resultMap="AgentUserMap">
        SELECT
        <include refid="userColumnId"/>
        FROM
            saas_mbr_agent_user agent,
            saas_mbr_user base
        WHERE
            agent.mbr_user_id = base.id AND
            base.open_id = #{openId}
    </select>
    
    <select id="findByQQOpen_id" resultMap="AgentUserMap">
        SELECT
          <include refid="userColumnId"/>
        FROM
            saas_mbr_agent_user agent,
            saas_mbr_user base
        WHERE
            agent.mbr_user_id = base.id AND
            base.qq_open_id = #{qqOpenId}
    </select>

    <select id="findUserByUser_id" resultMap="AgentUserMap">
        SELECT
          <include refid="userColumnId"/>
        FROM
            saas_mbr_agent_user agent,
            saas_mbr_user base
        WHERE
            agent.mbr_user_id = base.id AND
            base.user_id = #{userId}
    </select>
    <select id="findUserById" resultMap="AgentUserMap">
        SELECT
        <include refid="userColumnId"/>
        FROM
        saas_mbr_agent_user agent,
        saas_mbr_user base
        WHERE
        agent.mbr_user_id = base.id AND
        base.id = #{userId}
    </select>

    <update id="updateLastLoginTime">
        update
          saas_mbr_user
        SET
          last_login_time = now()
        WHERE
          id=#{id}
    </update>
</mapper>